    <ul>
        <li>@Html.ActionLink("As Student", "LoginAsStudent", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("As Employer", "LoginAsEmployer", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>

