    <ul>
        <li>@Html.ActionLink("като студент", "LoginAsStudent", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("като работодател", "LoginAsEmployer", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>

