
<div id="filter-container" class="cf">
    
    <a href="~/Account/LoginAsStudent?returnUrl=@ViewBag.ReturnUrl">
        <figure>
            <figcaption>
                <img class="alignleft" src="~/img/mono-icons/user32.png" />
                <h6 class="heading">Влез като студент</h6>
            </figcaption>
        </figure>
    </a>

        <a href="~/Account/LoginAsEmployer?returnUrl=@ViewBag.ReturnUrl">
        <figure>
            <figcaption>
                <img class="alignleft" src="~/img/mono-icons/bag32.png" />
                <h6 class="heading">Влез като работодател</h6>
            </figcaption>
        </figure>
    </a>

    <a href="~/Account/RegisterAsEmployer?returnUrl=@ViewBag.ReturnUrl">
        <figure>
            <figcaption>
                <img class="alignleft" src="~/img/mono-icons/bag32.png" />
                <h6 class="heading">Регистрирай се като работодател</h6>
            </figcaption>
        </figure>

    </a>
</div>
