@{
    ViewBag.Title = "За";
}

<link href="~/Content/Slider.css" rel="stylesheet" />

<div id="content">
    <h2>За Occupie</h2>
    <div id="slides">
        <div class="current slide" id="slider_1">
            <hr />
            <p>
                В системата има два вида профили - на студенти и работодатели. Студентите влизат директно с потребителско име
         и парола от студентската система СУСИ, а работодателите трябва първо да се регистрират.
            </p>
            <img src="~/Images/About/login-as-student.png" />
            <img src="~/Images/About/login-as-employer.png" />
            <hr />
        </div>

        <div class="slide" id="slider_2">
            <hr />
            <p>
                Профилът на студента съдържа подробна информация за него, разделена на четири категории.
            </p>
            <img src="~/Images/About/student-profile.png" />
            <hr />
        </div>

        <div class="slide" id="slider_3">
            <hr />
            <p>
                Студентът може да редактира цялата информация в профила си.
            </p>
            <img src="~/Images/About/edit-main.png" />
            <hr />
        </div>

        <div class="slide" id="slider_4">
            <hr />
            <p>
                Информацията в профила, свързана с обучението във ФМИ, се взима изцяло от СУСИ 
        и студентът не може да я променя, а само да избира коя част от нея да се вижда.
            </p>
            <img src="~/Images/About/edit-education.png" />
            <hr />
        </div>

        <div class="slide" id="slider_5">
            <hr />
            <p>
                Студентът може да добавя и изтрива работни места и проекти, в които е участвал.
            </p>
            <img src="~/Images/About/edit-experience.png" />
            <hr />
        </div>

        <div class="slide" id="slider_6">
            <hr />
            <p style="font-family: Verdana;">
                Студентът може да добавя и изтрива езици, които говори, и технологии, които владее.
            </p>
            <img src="~/Images/About/edit-personal.png" />
            <hr />
        </div>

        <div class="slide" id="slider_7">
            <hr />
            <p style="font-family: Verdana;">
                Работодателите могат да виждат списък с всички студенти и да ги филтрират.
            </p>
            <img src="~/Images/About/students.png" />
            <hr />
        </div>

         <div class="slide" id="slider_8">
            <hr />
            <p style="font-family: Verdana;">
                Студентите могат да виждат списък с всички работодатели.
            </p>
            <img src="~/Images/About/employers.png" />
            <hr />
        </div>

        <div class="slide" id="slider_9">
            <hr />
            <p>
                Работодателите могат да добавят обяви.
            </p>
            <img src="~/Images/About/add-offer.png" />
            <hr />
        </div>

        <div class="slide" id="slider_10">
            <hr />
            <p>
                Студентите могат да разглеждат и да кандидатстват по обявите в системата.
            </p>
            <img src="~/Images/About/offers.png" />
            <hr />
        </div>
    </div>
</div>
<img id="left_arrow" src="~/Images/About/left-arrow.png" />
<img id="right_arrow" src="~/Images/About/right-arrow.png" />

<script src="~/Scripts/Slider.js"></script>
