@model Occupie.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Начало";
}

<div class="wrapper cf">

    @if (Model.ShowEmailWarning)
    {
        @Html.Partial("ChangeEmail", Model.Student)
    }

    <!-- portfolio content-->
    <div id="portfolio-content" class="cf">
        <!-- project pager -->
        <!--
				<div class="project-pager cf">
					<a class="previous-project" href="#">&#8592; Previous project</a>
					<a class="next-project" href="#">Next project &#8594;</a>
				</div>
                -->
        <!-- ENDS project pager -->

        <!-- project box -->
        <div id="project-box" class="cf">
            <!-- slider -->
            <div class="project-slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li style="background-color: rgb(195,195,195); text-align: center">
                            <h3 style="font-weight: bold; color: #cb5432;">Последни обяви
                            </h3>
                            <div id="filter-container" class="cf" style="margin-left: 7.5%; max-width: 85%; min-height: 350px !important; background-color: white; font-size: 175%">
                                @Html.Partial("_LatestOffersPartial", Model.Offers)
                            </div>
                        </li>
                        <li style="background-color: rgb(195,195,195); text-align: center">
                            <h3 style="font-weight: bold; color: #cb5432;">Последни студенти</h3>
                            <div id="filter-container" class="cf">
                                @Html.Partial("_LatestStudentsPartial", Model.Students)
                            </div>
                        </li>
                        <li style="background-color: rgb(195,195,195); text-align: center">
                            <h3 style="font-weight: bold; color: #cb5432;">Последни работодатели</h3>
                            <div id="filter-container" class="cf">
                                @Html.Partial("_LatestCompaniesPartial", Model.Employers)
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ENDS slider -->

            <!--
					<div class="info">
	        			<p><strong>Client </strong> Mr. Tanaka</p>
	        			<p><strong>Date </strong> April 25, 2012</p>
	        			<p><a href="http://www.luiszuno.com" class="launch" >Launch Project</a></p>
	        		</div>
	        		
	        		<!-- entry-content -->
            <!--
	        		<div class="entry-content">
	        		
	        			<h2 class="heading">Project Name</h2>
	        			
	        			<div class="multicolumn">
	        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
	        			
	        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
	        			
	        			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
	        			
	        			</div>
	        		</div>
	        		<!-- ENDS entry content -->
            <!--
	        	</div>
                -->
            <!-- ENDS project box -->


            <!-- related -->
            <!--
				<div class="related-projects">
					<h4 class="related-heading">Related projects</h4>
					<div class="related-list cf">
						<figure>
							<a href="#" class="thumb"><img src="img/dummies/slides/01.jpg" alt="Alt text" /></a>
							<a href="single.html" class="heading">Pellentesque habitant morbi</a>
						</figure>
						
						<figure>
							<a href="#" class="thumb"><img src="img/dummies/slides/02.jpg" alt="Alt text" /></a>
							<a href="single.html" class="heading">Pellentesque habitant morbi</a>
						</figure>
						
						<figure> 
							<a href="#" class="thumb"><img src="img/dummies/slides/03.jpg" alt="Alt text" /></a>
							<a href="single.html" class="heading">Pellentesque habitant morbi</a>
						</figure>
						
						<figure>
							<a href="#" class="thumb"><img src="img/dummies/slides/04.jpg" alt="Alt text" /></a>
							<a href="single.html" class="heading">Pellentesque habitant morbi</a>
						</figure>
						
					</div>
				</div>
                -->
            <!-- ENDS related -->

        </div>
        <!-- ENDS portfolio content-->
    </div>


</div>
<!-- ENDS WRAPPER -->
