@model Int32[]


@using (Ajax.BeginForm("DeleteProject", new { projId = Model[0] }, new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "target",
                            OnSuccess = "deleteProject(" + Model[1] + ")"
                        }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Проект</legend>
        <h5>Сигурни ли сте, че искате да изтриете този проект?</h5>

        <p>
            <input type="submit" value="Да" />
            <input type="button" id="cancelDelProj" value="Не" onclick="closeDelProjectDialog()" />
        </p>
    </fieldset>
}


<script>
    function deleteProject(id) {
        $("#project" + id).remove();
        closeDelProjectDialog();
    }

    function closeDelProjectDialog() {
        $(".ui-dialog:visible").find(".dialog").dialog("close");
    }
</script>
