@model IEnumerable<LinkedFMI_UI.ViewModels.EmployerAllViewModel>

<script type="text/x-kendo-tmpl" id="template1">
    <a href="/Employer/Profile/#:Id#" class="employer">
        <img src="#:Picture#" alt="#:Name#" />
        <h3>#:Name#</h3>
    </a>
</script>

<div class="demo-section">
@(Html.Kendo().ListView<LinkedFMI_UI.ViewModels.EmployerAllViewModel>(Model)
    .Name("listView1")
    .TagName("div")
    .ClientTemplateId("template1")
    .DataSource(dataSource => {
        dataSource.Read(read => read.Action("ReadEmployers", "Index"));
        dataSource.PageSize(15);
    })
    .Pageable()
)
</div>