<html>
<head>
    <title>Purple Cubed</title>
</head>
<body style="font-family: Verdana,sans-serif; font-size: 10.0pt;">
    @RenderBody()
    <p style="font-family: Verdana,sans-serif; font-size: 10.0pt; color: #7F7F7F; margin-top: 20px;">
        If you have any questions speak to your manager, email <a href="mailto:ask@talenttoolbox.com">ask@talenttoolbox.com</a> or call our team on +44(0) 207 240 7171.
            <br />
        <br />
        Talent Toolbox<sup>TM</sup> – www.talenttoolbox.com 
    </p>
</body>
</html>
