@model LinkedFMI_UI.Models.Student

@if (Model.WorkTimePreference != LinkedFMI_UI.Enums.WorkTime.not_specified || Model.WorkStatus != LinkedFMI_UI.Enums.WorkStatus.not_specified)
{
    <figure class="main">
        <figcaption>
            <img class="alignleft" src="~/img/mono-icons/clock32.png" />
            <h4 class="heading">Детайли</h4>
            @if (Model.WorkTimePreference != LinkedFMI_UI.Enums.WorkTime.not_specified)
            {
                <div class="display-field">
                    <span class="strong">Work Time Preference:</span> 
                    @LinkedFMI_UI.Enums.EnumTranslator.WorkTimes[Model.WorkTimePreference]
                </div>
            }
            @if (Model.WorkStatus != LinkedFMI_UI.Enums.WorkStatus.not_specified)
            {
                <div class="display-field">
                    <span class="strong">Статус:</span> 
                    @LinkedFMI_UI.Enums.EnumTranslator.WorkStatuses[Model.WorkStatus]
                </div>
            }
        </figcaption>
    </figure>
}

