@model IQueryable<LinkedFMI_UI.ViewModels.StudentAllViewModel>

@{
    ViewBag.Title = "Студенти";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<br />
@(Html.Kendo()
    .Grid<LinkedFMI_UI.ViewModels.StudentAllViewModel>()
    .Name("grid-students")
    .BindTo(Model)
    .Columns(columns =>
    {
		if (ViewBag.RelevanceSorted)
			columns.Bound(model => model.Relevance).Sortable(true).Title("Relevance");
		
        columns.Bound(model => model.FullName).Sortable(true).Title("Име");
        columns.Bound(model => model.Email).Sortable(false).Title("Email");
        columns.Bound(model => model.HasJob).Sortable(true).Title("Работи ли?");
    })
    .Pageable(page =>
        {
            page.PreviousNext(true);
            page.Numeric(true);
        })
    .Sortable(sort =>
        {
            sort.AllowUnsort(false);
            sort.SortMode(GridSortMode.SingleColumn);
        })
    .Resizable(resize => resize.Columns(true))
    .DataSource(data =>
    {
        data.Ajax()
            .Model(m => m.Id(b => b.Id))
            .PageSize(10)
            .ServerOperation(true);
    }))

@Html.Partial("_FilterStudentsPartial", new StudentAllViewModel());