@model Occupie.ViewModels.StudentAllViewModel

<script src="~/js/jquery-ui-1.10.3.custom.js"></script>
<figure class="main isotope-item" style="width:100%" id="experience">
    <figcaption>
		<h4 class="heading">Филтър</h4>
		<div class="editor-field">
			@using (Html.BeginForm("FilterStudents", "Student", FormMethod.Post, 
                                      new { enctype = "multipart/form-data" }))
			{
                <table style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <td style="text-align: right">
                            Технологии:
                        </td>
                        <td style="text-align: left">
				            @Html.TextBoxFor(model => model.Technologies)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
				            Езици:
                        </td>
                        <td style="text-align: left">
				            @Html.TextBoxFor(model => model.Languages)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
				            Курс:
                        </td>
                        <td style="text-align: left">
				            @Html.TextBoxFor(model => model.Year)
                        </td>
                    </tr>
                </table>
				@Html.Kendo().PanelBar().Name("courses-panelbar").Items(panelbar => 
					{
						foreach (var entry in  SusiParser.CourseInfo.PartitionCoursesByCategory())
						{
							System.Text.StringBuilder builder = new System.Text.StringBuilder();
							foreach (string course in entry.Value)
							{
								builder.Append(string.Format(@"<input type=""checkbox"" name=""{0}"" id=""{0}""/><label for=""{0}"">{0}</label><br>", course));
							}

							panelbar.Add().Text(entry.Key).Content(builder.ToString());
						}
					});
				<br />
				<input type="submit" value="Изпрати ме" />
			}
			
		</div>
    </figcaption>
</figure>