@model LinkedFMI_UI.Models.Employer

<figure class="departments">
    <figcaption>
        <img class="alignleft" src="~/img/mono-icons/mouse32.png" />
        <h4 class="heading">Отдели</h4>

        @if (Model.Departments != null && Model.Departments.Count > 0)
        {
            foreach (var department in Model.Departments)
            {
                <div class="display-field">
                    @department
                </div>
            }
        }
    </figcaption>
</figure>