@model LinkedFMI_UI.Models.Employer

<figure class="offers">
    <figcaption>
        <img class="alignleft" src="~/img/mono-icons/mouse32.png" />
        <h4 class="heading">Обяви</h4>
        @foreach (var offer in Model.Offers)
        {
            <div class="display-field">
                @offer
            </div>
        }
    </figcaption>
</figure>