@model List<LinkedFMI_UI.ViewModels.EmployerAllViewModel>

@{
    ViewBag.Title = "Работодатели";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<script type="text/x-kendo-tmpl" id="template">
    <a href="/Employer/Profile/#:Id#" class="employer">
        <img src="#:Picture#" alt="#:Name#" />
        <h3>#:Name#</h3>
    </a>
</script>

<div class="demo-section">
@(Html.Kendo().ListView<LinkedFMI_UI.ViewModels.EmployerAllViewModel>(Model)
    .Name("listView")
    .TagName("div")
    .ClientTemplateId("template")
    .DataSource(dataSource => {
        dataSource.Read(read => read.Action("ReadEmployers", "Employer"));
        dataSource.PageSize(15);
    })
    .Pageable()
)
</div>