@model Int32[]


@using (Ajax.BeginForm("DeleteTechnology", new { techId = Model[0] }, new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "edit-personal",
                            OnSuccess = "closeDelTechDialog()"
                        }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <h5>Сигурни ли сте, че искате да изтриете тази технология?</h5>

        <p>
            <input type="submit" value="Да" />
            <input type="button" id="cancelDelTech" value="Не" onclick="closeDelTechDialog()" />
        </p>
}


<script>
    function deleteTech(id) {
        closeDelTechDialog();
    }

    function closeDelTechDialog() {
        $(".ui-dialog:visible").find(".dialog").dialog("close");
    }
</script>
